python-dotenv~=1.1.0
jupyterlab
ipywidgets~=8.1.5
requests~=2.32.3
numpy~=1.26.4
pandas~=2.2.3
scipy~=1.13.1
scikit-learn~=1.6.1
matplotlib~=3.10.0
gensim~=4.3.3
torch~=2.7.0
transformers~=4.49.0
tqdm~=4.67.1
openai~=1.78.1
gradio~=5.29.0
langchain~=0.3.25
tiktoken~=0.9.0
faiss-cpu
langchain-openai~=0.3.16
langchain_experimental
langchain_chroma
langchain[docarray]
datasets~=3.3.2
sentencepiece
matplotlib
google-generativeai
anthropic
scikit-learn
unstructured
chromadb
plotly
jupyter-dash
beautifulsoup4~=4.12.3
pydub~=0.25.1
modal
ollama
accelerate
sentencepiece
bitsandbytes
psutil
setuptools
speedtest-cli
sentence_transformers
feedparser

groq~=0.24.0
ipython~=9.1.0
nest-asyncio~=1.6.0
httpx~=0.28.1
protobuf~=5.29.3
pillow~=11.1.0
huggingface_hub~=0.29.2
sqlalchemy~=2.0.39
langchain-core~=0.3.59
langchain-community~=0.3.24
langchain-text-splitters~=0.3.8
pydantic~=2.10.3
joblib~=1.4.2
prometheus_client~=0.21.1